*/*/
*_matlab/*.m~

exe/STAR_*
exe/salmon_*
exe/kbpy_*
exe/bwa*
exe/bedtools*
exe/mashmap*
exe/generateDecoyTranscriptome.sh

latex/*.pdf
latex/*.gz
latex/*.out
latex/*.aux
latex/*.log
latex/*.xml
latex/*.blg
latex/*.bbl
latex/*.fls
latex/*.bcf
latex/*_latexmk




Old1/
logs/
